@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda+SC:ital,opsz,wght@0,6..96,400..900&display=swap');

.about-us-container {
  opacity: 0;
  transform: translateX(-100px); /* Start from the left */
  transition: opacity 0.8s ease-in-out, transform 0.8s ease-in-out;
  text-align: center; /* Center content */
  margin: 0 auto;
  padding: 2rem;
  max-width: 800px; /* Limit the width for better readability */
}

.about-us-container.animate {
  opacity: 1;
  transform: translateX(0); /* Moves to the center */
}

/* Scoped h1 to only affect AboutUs */
.about-us-container h1,
.about-us-container p {
  font-family: 'Bodoni Moda SC', serif;
  font-optical-sizing: auto;
  font-weight: 400; /* Adjust font weight if needed */
}

.about-us-container h1 {
  font-size: 2rem; /* Font size for the heading */
  margin-bottom: 1rem;
  color: #333;
}

.about-us-container p {
  font-size: 1rem;
  line-height: 1.5;
  color: #555;
  margin: 1rem 0;
  text-align: justify;
}

@media (max-width: 768px) {
  .about-us-container h1 {
    font-size: 1.75rem; /* Responsive font size */
  }

  .about-us-container p {
    font-size: 0.9rem; /* Responsive font size */
  }
}

.letter {
  display: inline-block;
  opacity: 0;
  animation: fadeIn 0.5s forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
